/*Estilizando a página com css*/
body {
    font-family: Helvetica, sans-serif;
    width: 500px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

#post {
    margin-top: 20px;
}

.post {
    border: 1px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #dfdfdf;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin-bottom: 5;
    line-height: 1;
}

.post .date {
    font-size: 14px;
    color: #440be0
}